# dependencies
node_modules/

# build outputs
.next/
.turbo/
dist/
build/
coverage/

# typescript
*.tsbuildinfo

# logs
logs/
*.log

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
pnpm-debug.log*
src.zip
